.lection {
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 100%;
    padding-block: 20px;
    background-color: $color-white;
    box-shadow: 0 2px 0 0 $color-shadow-card;
    transform: translateY(-50%);

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      width: 570px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 21px;
    font-family: $font-main;
  }

  &__info-text {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $color-text-secondary;
  }

  &__info-date {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $color-primary;
  }

  &__title {
    font-family: $font-accent;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: $color-text-main;
  }
}
