.page {
  padding-inline: 20px;
  font-family: $font-accent;
  scroll-behavior: smooth;

  @include on-tablet {
    padding-inline: 34px;
  }

  &__body {
    margin: 0 auto;
    scroll-behavior: smooth;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    opacity: 0;
    transform: translateX(-100%);
    transition:
      transform $transition-default,
      opacity $transition-default;
    pointer-events: none;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }
}
