.schedule {
  &__title {
    margin: 0;
    font-family: $font-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    color: $color-white;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      gap: 38px;
    }
  }

  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $color-white;

    @include on-tablet {
      width: 158px;
    }
  }
}
