.subscribe {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    box-sizing: border-box;
    height: 386px;
    margin-inline: -20px;
    padding: 88px 20px;

    text-align: center;

    background-image: url(images/subscribe-3x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      margin-inline: -34px;
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / 10;
    }
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $color-white;
  }

  &__description {
    margin: 0;

    font-family: $font-main;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $color-white;
  }

  &__form {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 50px;
    border: $color-white;

    @include on-tablet {
      grid-column: 2 / -2;
      gap: 16px;
    }

    @include on-desktop {
      grid-column: 4 / 10;
      gap: 30px;
    }
  }

  &__form-input {
    flex-grow: 1;

    padding: 18px 24px;
    border: none;

    transition: box-shadow $transition-default;

    &::placeholder {
      font-family: $font-accent;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
    }

    &:hover {
      box-shadow: (1px 4px 16px 0 $color-input-shadow);
    }

    &:focus {
      outline: none;
      box-shadow: (1px 4px 16px 0 $color-input-shadow);
    }
  }

  &__form-button {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;

    background-color: $color-accent;
    background-image: url(images/arrows/arrow-right-black-3x.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;

    transition: box-shadow $transition-default;
    cursor: pointer;

    &:hover {
      box-shadow: (1px 4px 16px 0 $color-accent);
    }
  }
}
